<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="渔人的直感.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2"/>
    </startup>
    <userSettings>
        <渔人的直感.Properties.Settings>
            <setting name="Height" serializeAs="String">
                <value>15</value>
            </setting>
            <setting name="Width" serializeAs="String">
                <value>265</value>
            </setting>
            <setting name="Location" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="TimerColor" serializeAs="String">
                <value>#6FAE5F</value>
            </setting>
            <setting name="LTugColor" serializeAs="String">
                <value>#69AFF3</value>
            </setting>
            <setting name="MTugColor" serializeAs="String">
                <value>#CC99FF</value>
            </setting>
            <setting name="HTugColor" serializeAs="String">
                <value>#F1C64A</value>
            </setting>
            <setting name="StatusColor" serializeAs="String">
                <value>#0078D7</value>
            </setting>
            <setting name="Offset" serializeAs="String">
                <value>1CAB970</value>
            </setting>
            <setting name="ClickThrough" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="HideWhenNotActived" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CheckDiademWeather" serializeAs="String">
                <value>True</value>
            </setting>
        </渔人的直感.Properties.Settings>
    </userSettings>
</configuration>
